* {
  box-sizing: border-box;
}

h1, h2, h3 {
  color: color-get('heading-fg');
  text-align: center;
}

hr {
  color: color-get('hr');
  max-width: 100%;
  margin-bottom: 1.2em;
}

div.container {
  max-width: 1010px;
  max-height: calc(100vh - 55px);
  margin: auto;
}

