@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';

@import './utils/theme.scss';
@import './utils/animations.scss';

@import './components/form.scss';
@import './components/navbar.scss';
@import './components/table.scss';
@import './components/loading.scss';

@import './general.scss';

@import './responsive/queries.scss';

div.app {
  main {
    min-height: calc(100vh - 55px);
    align-content: center;
  }
  background: color-get('main-bg');
  color: color-get('main-fg');
  min-height: 100vh;
}

div.main-content {
  overflow: hidden;
  margin: auto;
}

