@media (min-width: 48em) {

  .nav-content {
    ul { float: right; }
    a { float: left; }
    text-align: left;
  }

  div.table-container {
    max-height: 70vh;
  }

}

@media (min-width: 32em) {

  hr {
    max-width: calc(250px + 20%);
  }

}
